<main class="auth-page__wrapper">
  <article class="auth-page__container">
    <h1>Страница Авторизации</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input__container">
        <label>Электронная почта:</label>
        <input type="email" formControlName="email" placeholder="Введите почту...">
      </div>
      <div class="input__container">
        <label>Пароль:</label>
        <input type="password" formControlName="password" placeholder="Введите пароль...">
      </div>
      <div class="button__container">
        <button type="submit">Войти</button>
      </div>
    </form>
  </article>
</main>
