.user-card-page__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.user-card-page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}