.user-page_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70vw;
}
.user-page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.user-page__header_list_resource_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70vw;
}
