@if (profile) {
    <div 
    class="profile-card">
        <div 
        class="avatar-name">
            <img 
            [src]="profile.avatar" alt="avatar"     
            class="profile-card__avatar"
            >
            <div 
            class="profile-card__name"
            >
                <strong 
                class="profile-card__first_name"
                >{{profile.first_name}}</strong>
                <span 
                class="profile-card__last_name"
                >{{profile.last_name}}</span>
                <a 
                    class="profile-card__link_user"
                    [routerLink]="['/users', profile.id]"
                    >О Пользователе</a>
            </div>
        </div>
        <div 
        class="profile-card__email">
            Электронная почта: {{profile.email}}
        </div>
        <button 
            class="profile-card__button_delete" 
            title="delete_users"
            (click)="deleteClick(profile.id)"
            >
            Удалить пользователя
        </button>
        
    </div>
} @else {
    
}
