<app-profile-header>

</app-profile-header>
<form class="profile-form" [formGroup]="form">
    <div class="two-columns">
        <label class="tt-form-label">
            <span class="tt-form-label__text">Имя </span>
            <input 
            class="tt-form-input"
            type="text"
            placeholder="Введите имя..."
            formControlName="first_name"
            >
        </label>
        <label class="tt-form-label">
            <span class="tt-form-label__text">Имя </span>
            <input 
            class="tt-form-input"
            type="text"
            placeholder="Введите фамилию..."
            formControlName="last_name"
            >
        </label>
        
    </div>
</form>