:root, body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

button {
  border: 2px solid white;
  background-color: black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  padding: 10px;
}
